html {
    height: 100%;
    background-image: linear-gradient(to right top, red, rgb(255, 0, 102), rgb(209, 42, 159), rgb(255, 36, 233), rgb(211, 36, 255), rgb(191, 0, 255), rgb(132, 0, 255), rgb(17, 0, 255));
  }

div {
    text-align: center;
}

button {
    display:inline-block;
    padding:1em 2em;
    border:0.1em solid white;
    margin-left: auto;
    margin-right: auto;
    border-radius:0.12em;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
    font-size: x-large;
    font-weight:1000;
    color:black;
    text-align:center;
    background-color:white;
}

.topping {
    font-family: 'Courier New', monospace;
    font-size: xx-large;
    color: white;
}
    
.contact {
    font-family: 'Courier New', monospace;
    font-size: medium;
    color: white;
}

.buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custombr {
    display: block;
    height: 15px;
}

button:hover {
    background-image: linear-gradient(to left top, red, rgb(255, 0, 102), rgb(209, 42, 159), rgb(255, 36, 233), rgb(211, 36, 255), rgb(191, 0, 255), rgb(132, 0, 255), rgb(17, 0, 255));
}